:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8fbc8f;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* max-width: 1080x; */
  /* margin: auto 0; */
  padding: 50px 0;
}

main {
  text-align: center;
}

/* Grid Container */

#grid-container {
  display: inline-grid;
  border: solid #dc143c;
  border-width: 6px 100px 0;
  background-color: #aaaaaa;
  grid-template-rows: repeat(var(--grid-rows), auto);
  grid-template-columns: repeat(var(--grid-cols), auto);
  max-height: 1000px;
  max-width: 1079px;
  touch-action: none;
}

#grid-container > div {
  background-color: #d8d8d8;
}

/* .cell {
  padding: 2em;
  border: 1px solid #ddd;
  text-align: center;
} */

/* Heading Style */
.header {
  background-color: #dc143c;
  border-radius: 20px 20px 0 0;
  width: 1080px;
  height: 94px;
  margin: 0 auto;
}

.heading {
  font-size: 70px;
  text-align: center;
  padding-top: 10px;
  line-height: 1;
  margin: 0;
}

/* Control Buttons Style */

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 0 80px;
  width: 1080px;
  height: 100px;
  background-color: #dc143c;
  border-radius: 0 0 20px 20px;
}

.controls > div {
  display: flex;
  align-items: center;
}

.controls > div > p {
  font-weight: 700;
  margin: 0;
}

.controls button {
  background-color: #ffffea;
  color: #000000;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  padding: 6px 8px;
  margin-left: 20px;
  cursor: pointer;
}

.controls input {
  background-color: #ffffea;
  color: #000000;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  padding: 6px 8px;
  margin-left: 20px;
  cursor: pointer;
}

.controls button:hover {
  transform: scale(1.05);
}

/* Footer Style */

.footer {
  text-align: center;
  margin-top: 15px;
  color: #000000;
}

.footer-link {
  font-weight: bold;
  transition: all 0.2s;
}

.footer-link:hover {
  color: aqua;
  transition: all 0.2s;
}
